* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; 
    font-family: 'Atma', sans-serif;
    color: #4B0082;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #FF8C00;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    align-items: center;
    font-size:xx-large;
    font-weight: bold;
}
header .logo img {
    width: 70px;
    margin-right: 20px;
}
header nav a {
    color: #4B0082;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size:x-large;
    margin-left: 20px;
    
}
header nav a:hover {
    font-size: xx-large;
}
#logout{
    padding-left: 10px;
    width: 30px;
}