* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; 
    font-family: 'Atma', sans-serif;
    color: #4B0082;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #FF8C00;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    align-items: center;
    font-size:xx-large;
    font-weight: bold;
}
header .logo img {
    width: 70px;
    margin-right: 20px;
}
header nav a {
    color: #4B0082;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size:x-large;
    margin-left: 20px;
    
}
header nav a:hover {
    font-size: xx-large;
}

/* Estilo para o ícone de usuário */
nav a.user-icon {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

nav a.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

nav a.user-icon:hover img {
    transform: scale(1.1); /* Efeito de zoom no ícone quando o usuário passa o mouse */
    transition: transform 0.3s ease;
}

.content-wrapper {
    flex: 1;
}
.promo {
    background-color: #FFFFFF;
    padding: 70px;
    text-align: center;
}
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-content {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
.carousel-content img {
    width: 100%;
    border-radius: 10px;
}
.carousel button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #4B0082;
    cursor: pointer;
}
.carousel .prev {
    position: absolute;
    left: 0;
}
.carousel .next {
    position: absolute;
    right: 0;
}
.services {
    background-color: #FFFFFF;
    padding: 40px 50px;
    text-align: center;
}
.services h2 {
    color: #4B0082;
    font-size: 45px;
}
.services p {
    color: #333;
    margin-bottom: 40px;
    font-size: xx-large;
    font-weight: bold;
}
.service-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-item {
    text-align: center;
    max-width: 200px;
}
.service-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.service-item h3 {
    color: #4B0082;
    font-size: 20px;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    margin-bottom: 0;
    margin-top: 0;
}
h4{
    margin-bottom: 0;
    font-size: large;
}
footer {
    background-color: #4b1d65; 
    color: #fff; 
    padding: 20px;
    margin-top: 50px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-info {
    width: 50%; 
    line-height: 1.5;
}
.contact-info h4 {
    font-weight: bold;
    margin-bottom: 0px;
}
.pagamento {
    width: 30%; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.pagamento img {
    width: 100%;
    max-width: 300px;
}
@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: flex-start; 
    }
    header .logo {
        margin-bottom: 10px; 
    }
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }
    header nav a {
        margin: 10px 0;
    }
    .service-options {
        flex-direction: column; 
        align-items: center; 
    }
    .service-item {
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    header nav a {
        font-size: large; 
    }
    .services h2 {
        font-size: 30px;
    }
    .services p {
        font-size: large;
    }
}