body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Atma", system-ui;

}

p{
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    margin-bottom: 0;
    margin-top: 0;
}

h4{
    margin-bottom: 0;
    font-size: large;
}

h3{
    color: #4b1d65;
    font-size: x-large;
}

#apres{
    margin-top: 50px;
}

header {
    background-color: #f0781e;
    color: #4b1d65;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header h1 {
    margin-left: 10px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #4b1d65;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

.sobre {
    text-align: center;
    padding: 20px;
}

.sobre h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: start;
    color: #4b1d65;
}

.sobrec {
    margin: 20px 0;
    background-color: rgba(217, 217, 217, 0.38);
    border-radius: 30px;
}

.sobrec img {
    height: 600px;
    width: 350px;
    display: block;
    margin: 0 auto 20px auto;
}

.missao-visao-valores {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    margin-top: 50px;
}

.missao-visao-valores div {
    width: 30%;
}

.missao, .visao, .valores{
    background-color: rgba(217, 217, 217, 0.38);
    border-radius: 30px;
    padding: 20px;
}

footer {
    background-color: #4b1d65;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    width: 60%;
}

.pagamento img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
