*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FFA500;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header .logo img {
    height: 40px;
}

.register-container {
    width: 350px;
    margin: 150px auto;
    padding: 40px;
    background-color: rgba(251,156, 3, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #5C2B2E;
    text-align: center;
}

.imagemlogin {
    width: 70;
    height: 50;
}

.register-container label {
    font-size: 14px;
    color: #5C2B2E;
}

.register-container input[type="email"],
.register-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #FFF8E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #5C2B2E;
}

.register-container button:hover {
    background-color: #FFD54F;
}

.titulo p{
    color: #47055e;
    text-decoration: none;
    margin-left: 5px;
    font-family: "Atma", system-ui;
    font-weight: 1000;
    font-style: normal;
}
